/* Global */

:root {
  /* Color */
  --color-white: #fafafa;
  --color-light-white: #ffffff;
  --color-dark-white: #efefef;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #495057;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-comment-grey: #f1f3f5;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #12b886;
  --color-dark-green: #005b4f;
  --color-deep-green: #0ca678;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Size */

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
  text-align: center;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar  */
#navbar {
  position: fixed;
  width: 100%;
  height: 3.5em;
  color: var(--color-black);
  background-color: var(--color-light-white);
  padding: 5px;
  z-index: 1;
  border-bottom: 1px solid var(--color-dark-white);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__link {
  color: var(--color-dark-green);
}

/* Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-white);
  padding: 40px;
  padding-top: 100px;
  text-align: center;
}

.home__title,
.home__description {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-green);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 100ms ease;
}

.home__contact:hover {
  transform: scale(1.1);
}

/* Section common */
.section {
  padding: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__container {
  max-width: 1000px;
  margin: auto;
}

/* About */

.about__description {
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 2em;
}

.about__avatar {
  width: 300px;
  height: 300px;
  padding-right: 1em;
}

.skills {
  width: 100%;
  max-width: 900px;
}
.skill {
  border-left: 2px solid var(--color-green);
}
.skill-list {
  padding-left: 1em;
  display: flex;
}

.skill-item {
  color: var(--color-light-grey);
  flex: 0 0 10rem;
}

.about__schools {
  width: 100%;
  margin-top: 3em;
}

.divider {
  background: var(--color-green);
  width: 2px;
  height: 8rem;
  margin-top: 2rem;
}

.job {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* work */

.work__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  max-width: 800px;
  /* border: 1px solid var(--color-light-grey); */
}

.project {
  display: flex;

  margin-top: 3em;
}

.insta {
  width: 500px;
  height: 300px;
}

.project__description {
  font-weight: 300;
}

.description__list {
  color: var(--color-light-grey);
  padding-bottom: 5px;
}

.description__link {
  font-size: var(--font-micro);
  margin-left: 1em;
  padding-top: 1em;
}

.description__list:before {
  content: '•';
  color: var(--color-deep-green);
  display: inline-block;
  width: 1.3em;
  margin-left: 1em;
}

.project__header {
  margin-left: 3em;
  font-weight: bold;
}

.project__comment {
  width: 100%;
  margin-top: 3em;
  padding: 1em;
  background-color: var(--color-comment-grey);
  border-left: 2px solid var(--color-deep-green);
}

/* Contact */

#contact {
  background-color: var(--color-white);
}

.contact__title,
.contact__email,
.contact__right {
  color: var(--color-dark-grey);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
  transition: all var(--animation-duration) ease-in;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 20px;
    right: 16px;
    font-size: medium;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about__majors {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__Btn {
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }
  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }
  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
